@font-face {
  font-family: 'MainFont';
  font-weight: 200;
  src: url('/fonts/Righteous-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'MainFont';
  font-weight: 300;
  src: url('/fonts/Righteous-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'MainFont';
  font-weight: 400;
  src: url('/fonts/Righteous-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'MainFont';
  font-weight: 500;
  src: url('/fonts/Righteous-Regular.ttf') format('truetype');
}